<template>
    <div class="input-group">
        <input id="btn-input" type="text" name="location" class="form-control input-sm" placeholder="Type your location here..." v-model="newLocation" @keyup.enter="sentLocation">

        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-chat" @click="sentLocation">
                Send
            </button>
        </span>
    </div>
</template>

<script>
    export default {


        data() {
            return {
                newLocation: ''
            }
        },

        methods: {
            sentLocation() {
                this.$emit('locationsent', {
                    location: this.newLocation
                });

                this.newLocation = ''
            }
        }
    }
</script>