<template>
    <ul class="chat">
        <li class="left clearfix" v-for="location in locations">
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                       {{location.lat}},{{location.long}}
                    </strong>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
  props: ['locations']
};
</script>